# Виртуальное окружение
.venv/
venv/
env/

# PyInstaller
build/
dist*/
*.spec.bak

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Локальные настройки пользователя
elvui_updater_config.json

# Временный файл самообновления
*.update.tmp
